include ../data/work.pug

#work
    .container
        h2 Featured work
        
    ul.projects
        each project in work
            li.project-item
                
                .project-item-thumbnail
                    a.project-more(href="redirect.html?title=" + project.title + "&url=" + project.link + "" target="_blank")
                        if project.thumb.desktop
                            .thumbnail-desktop
                                img(src="images/desktop-container.svg" width="auto" height="auto")
                                span.screenshot(style="background-image:url(../images/work/" + project.thumb.desktop + ")")
                        if project.thumb.mobile
                            .thumbnail-mobile
                                img(src="images/mobile-container.svg" width="auto" height="auto")
                                span.screenshot(style="background-image:url(../images/work/" + project.thumb.mobile + ")")
                .project-item-details
                    h3.project-title= project.title
                    p.project-client= project.client
                    p.project-stack= project.stack
                    p.project-desc= project.desc.main + ' '
                        span= project.desc.more
                    p    
                        if project.link
                            a.project-link.button(href="redirect.html?title=" + project.title + "&url=" + project.link + "" target="_blank") View this site &raquo;
                        a.project-more(href="#") View details
                    
                .project-item-features
                    ul
                        each feature in project.features
                            li= feature
